<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CacheStore" connectionString="Server=.\sqlexpress;database=CacheStore;integrated security=true"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
